{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Enter your text below</h1>
        <form action="{% url 'count' %}">
            <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Count</button>
        </form>
      <p class="lead">In this snippet, the background image is fixed to the body element. Content on the page will scroll, but the image will remain in a fixed position!</p>

      <p class="lead mb-0">Background image by <a href="https://unsplash.com/@impatrickt">Patrick Tomasso</a> on <a href="https://unsplash.com/">Unsplash</a></p>
    </div>
  </div>
</div>
{% endblock %}